<!DOCTYPE html>
  <head>
    <title>[% template.title or 'My Task Manager App' %]</title>
    <link rel="stylesheet" href="[% c.uri_for('/static/css/materialize.css') %]" />
    <link rel="stylesheet" href="[% c.uri_for('/static/css/loading-bar.css') %]" />
    <script type="text/javascript" src="[% c.uri_for('/static/js/loading-bar.min.js') %]"></script>
  </head>
  <body>
    [% content %]
  </body>
</html>
